body{
  margin:0;
  display:block;
}

.plat-icon{
  display:flex;
  flex-direction: column;
 /* margin-right:20px; */
  height:160px;
  width:160px;

}
.outerPlat{
  display:flex;
  justify-content:center;
  align-items: center;
  /* flex-direction: row; */
  /* grid-template-columns: 500px 500px;
  grid-template-rows:  500px 500px;
  grid-gap:100px; */
  /* background-color: blue; */
}

.box1{
  display: flex;
  flex-direction: row;
  margin-right:30px;
  margin-top:200px;
  height:100%;
  width:600px;
  background-color:aliceblue;
}

.plat-inbox{
  
  margin-right:40px;
  margin-bottom:100px;
}

.plat-header{
  margin-top:40px;
  font-size:20px;
  position: relative;
  align-items: left;
}








/* body{
  display: block;
}
main{
  display: block;
}
section{
  display: block;
}
#platform{
  background-color: white;
  padding: 60px 7% 80px;
  text-align: center;
}
#platform-header{
  font-size: 1.75rem;
  margin-bottom: 40px;
  line-height: 1.25;
  font-weight: 650;
  font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
  box-sizing: border-box;
}
#YAML-link{
  text-decoration: none;
  color: #5bc399;
}


.platform-container{
  background-color: #F7F7F7;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.platform-img{
  width: 160px;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  align-self: center;
}
.platform-text{
  line-height: 1.875rem;
  padding: 0 40px 20px 40px;
  display: block;
}
.platform-title{
  font-size: 1.75rem;
  margin-bottom:0 0 .5rem 0;
  font-weight: 500;
  line-height: 1.2;
  display: block;
  padding: 0;
  font-size: 20px;
}
.platform-info{
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.875rem;
  color: #717274;
  font-weight: 400;
}
.platform-button{
  border-color: transparent;
  background-color: #5bc399;
  font-size: 1rem;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  outline: none;
  padding: 20px 30px;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  -webkit-appearance: none;
  line-height: 1.15;
}
.platform-button-container{
  width: 100%;
}
@media (min-width: 550px){
  .platform-title{
    font-size:  1.3125rem;
  }
}
@media (min-width: 770px) {
  .platform-row {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
  }
  #platform-header, .platform-box{
    display: inline-block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  #platform-header{
    width: 100%;
  }
  .platform-box{
    width: 50%;
  }
} */